/*
 * Copyright 2024 Oxide Computer Company
 */

/*
 * The "ansi-to-html" crate uses CSS variables when emitting text that uses the
 * classic ANSI colour palette.  Adjust the default colours to be a little
 * darker for more contrast against "s_stdout" and "s_stderr" backgrounds,
 * which are both quite light.
 */
:root {
    --ansi-black:           #000000;
    --ansi-red:             #b0000f;
    --ansi-green:           #007000;
    --ansi-yellow:          #808000;
    --ansi-blue:            #2b5388;
    --ansi-magenta:         #75507b;
    --ansi-cyan:            #046062;
    --ansi-white:           #ffffff;

    --ansi-bright-black:    #000000;
    --ansi-bright-red:      #b20f00;
    --ansi-bright-green:    #557000;
    --ansi-bright-yellow:   #b44405;
    --ansi-bright-blue:     #5f55df;
    --ansi-bright-magenta:  #bf2c90;
    --ansi-bright-cyan:     #30a0a0;
    --ansi-bright-white:    #ffffff;
}

table.table_output {
    border: none;
}

td {
    vertical-align: top;
}

td.num {
    text-align: right;
}

tr.s_stdout {
    background-color: #ffffff;
}

tr.s_stderr {
    background-color: #f3f3f3;
}

tr.s_task {
    background-color: #add8e6;
}

tr.s_worker {
    background-color: #fafad2;
}

tr.s_control {
    background-color: #90ee90;
}

tr.s_console {
    background-color: #e7d1ff;
}

tr.s_bgtask {
    background-color: #f79d65;
}

tr.s_default {
    background-color: #dddddd;
}

span.header {
    white-space: pre;
    font-family: monospace;
    font-weight: bold;
}

span.field {
    white-space: pre;
    font-family: monospace;
}

span.payload {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    font-family: monospace;
}

a.numlink {
    white-space: pre;
    font-family: monospace;
    text-decoration: none;
    color: #111111;
}

div.more {
    position: fixed;
    z-index: 1;
    bottom: 3rem;
    right: 3rem;

    padding: 1.6rem;

    border: 0.3rem solid black;

    background-color: #a4ff91;
    color: #000000;

    /*
     * Change the mouse cursor to the pointer, like the browser would do for a
     * clickable link:
     */
    cursor: pointer;
}

span.more_arrow {
    font-size: 1.5rem;
    font-weight: bold;
}
